[Unit]
Description=Sync Obsidian library with GitHub every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=0
Unit=obsidian-git-sync.service

[Install]
WantedBy=timers.target
